<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" /> -->
			<PatternLayout pattern="%d %p %c{2.} [%t] %m%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{5.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<!-- <OnStartupTriggeringPolicy /> -->
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</appenders>
	<loggers>
		<logger name="org.apache.http" level="debug">
		</logger>
		<logger name="org.apache.ibatis" level="debug">
		</logger>
		<logger name="com.netease.shijin.yitao.mapper" level="debug"></logger>
		<logger name="java.sql" level="debug">
		</logger>
		<!-- <logger name="org.apache.http.wire" level="error">
		</logger> -->
		<root level="info">
			<appender-ref ref="Console" />
			<appender-ref ref="RollingFile" />
		</root>
	</loggers>
</configuration>