<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.shijin.yitao.mapper.ItemMapper">
	<resultMap type="com.netease.shijin.yitao.bean.ItemBean" id="item">
		<result column="id" property="itemID" />
		<result column="name" property="itemName" />
		<result column="description" property="itemDescription" />
		<result column="price" property="itemPrice" />
		<result column="degree" property="degree" />
		<result column="picture" property="imgURL" />
		<result column="publishtime" property="timestamp" />
		<result column="positionx" property="positionX" />
		<result column="positiony" property="positionY" />
	</resultMap>

	<select id="queryItem" resultMap="item">
		select itemid,name,description,price,degree,picture,publishtime,positionx,positiony
		from item where
		<if test="categoryType != 0">
			category = #{categoryType} and
		</if>
		<choose>
			<when test="degreeType == 0">
			</when>
			<when test="degreeType == 1">
				degree >= 10 and
			</when>
			<when test="degreeType == 2">
				degree >= 9 and
			</when>
			<when test="degreeType == 3">
				degree >=8 and
			</when>
			<when test="degreeType == 4">
				degree >= 7 and
			</when>
			<when test="degreeType == 5">
				<![CDATA[
					degree <= 6 and
				]]>
			</when>
		</choose>
		positionx between #{longiMin} and #{longiMax}
		and positiony between
		#{latiMin} and #{latiMax} order by publishtime desc
	</select>


</mapper>