<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netease.shijin.yitao.mapper.MarkMapper">
	<select id="isMarked">
		select 1 from markrecord where userid=#{userID} and itemid=#{itemID} limit 1
	</select>
	
</mapper>